{% extends 'scolar/modele_landscape_pdf.html' %}
{% load dictionary %} 
{% block signataire%}
{% with 'ATTESTATION_BON_CONDUITE'|autorite_entete_from_document_programme:inscription.formation.programme as autorite %}
<table style="width:100%">
				<tr> 
					{% if autorite %}
						<td style =" text-align: left; margin-left: 0em;"> 
						<p align="left">			{{ autorite.intitule }}</p>
						</td>
						
						<td style =" text-align: right; margin-right: 0em;" > 
						<p>{{ autorite.intitule_a }}</p>
						</td>
					{% endif %}
				</tr>
				
				<tr>
						<td style =" text-align: left; margin-left: 0em;"> 
						<p>			{% if institution.ville_a %}{{ institution.ville_a }}, {% endif %}في: {{ today|date:'Y/m/d' }}</p>
						</td>
						<td style =" text-align:right; margin-right: 0em;" >
						<p>    {% if institution.reference %}<strong>   المرجع رقم : </strong>{{ institution.reference }}{{ today|date:'Y' }}{% endif %}</p>
						</td>
													
				</tr>
				</table>
{% endwith %}
{% endblock %}

{% block title %} 
	<br>
	<p><strong>شهادة حسن السيرة و السلوك </strong></p>
	 <br><br>
{% endblock %}
{% block content %}	
{% with 'ATTESTATION_BON_CONDUITE'|autorite_from_document_programme:inscription.formation.programme as autorite %}
<big>
    <table class="table table-borderless table-sm" width="100%">
			
    	<tr>
    		<td style ="text-align: right; margin-right: 0em;">
    			
    			<p>
					{% if autorite %}						
						  <p> :يشهد {{ autorite.titre_responsable_a }}, بالمدرسة الوطنية العليا للاعلام الالي بان &emsp;&emsp; </p>						
					{% endif %}						
    			</p>
    			<br>
    		</td>
    	</tr>
    	<tr>
    		<td>    			
    			 <p align="right"> 
    				{{ inscription.etudiant.nom }} {{ inscription.etudiant.prenom}} - {% if inscription.etudiant.nom_a and inscription.etudiant.prenom_a %}  الطالب(ة) :{{ inscription.etudiant.nom_a }} {{ inscription.etudiant.prenom_a }} {% endif %}<br><br>
    				<!--  {% if inscription.etudiant.date_naissance %}  المولود(ة) بتاريخ : {{ inscription.etudiant.date_naissance|date:'Y/m/d' }} {% endif %}&emsp;{% if inscription.etudiant.lieu_naissance_a %} &rlm;ب :{{ inscription.etudiant.lieu_naissance_a }}  {% endif %}<br><br>-->
    				{% if inscription.etudiant.date_naissance %} {{ inscription.etudiant.date_naissance|date:'Y/m/d' }} المولود(ة) بتاريخ :{% endif %}<br><br>
    				{% if inscription.formation.programme.titre_a %} المسجل(ة) في:{{inscription.formation.programme.titre_a }}{% else %} - في المسجل(ة){% endif %} {% if inscription.formation.programme.specialite %} -&emsp; 
    					{{inscription.formation.programme.specialite.intitule_a}} 
    				{% endif %}<br><br>
    				{{ inscription.etudiant.matricule }}  :رقم التسجيل
    				
    				<br><br>
					 .لم يتلق / تتلق اية عقوبة تأديبية خلال دراسته(ها) بمؤسستنا 
						<br><br><br><br>
					 .تمنح هذه الشهادة لاستخدامها بما يسمح به القانون
					<br><br>
					
    			</p>
    		</td>
    	</tr>
    	
	</table>
	</big>
	<br><br><br><br><br><br><br><br><br><br>

{% endwith %}
{% endblock %}