{% extends 'scolar/modele_landscape_pdf.html' %}
{% load dictionary %}
	{% block title %} 
		Procés Verbal de Délibération : {{ formation.programme.intitule }}<br>
		{% if formation.programme.specialite %}
			Spécialité: {{ formation.programme.specialite.intitule }}<br>
		{% endif %}
		Année universitaire: {{ formation.annee_univ }} / {{ formation.annee_univ.annee_suivante }}
	{% endblock %}
	{% block content %}	
		<h3 align="center"><strong>Notes Eliminatoires de la période {{ periode.periode.code }}</strong></h3>
			<br><br>
    		<table class="table table-bordered table-sm">
    			<thead>
    				<tr>
						{% if formation.activation_ues %}
    						<th rowspan="2">UE</th>
						{% endif %}
    					<th colspan="2">Matière</th>
    					<th rowspan="2">Moyenne</th>
    					<th rowspan="2">Moyenne NE</th>
    					<th rowspan="2">Coef</th>
						{% if formation.activation_credits %}
    						<th rowspan="2">Crédits</th>
						{% endif %}
    				</tr>
    				<tr>
    					<th>Code</th>
    					<th>Intitulé</th>
    				</tr>
    			</thead>
    			<tbody>
						{% for ue in ue_list %}
						<tr>
							{% if formation.activation_ues %}
								<td style="vertical-align:middle; text-align:left;" rowspan="{{ ue.matieres.count }}">
									{{ ue.code }}
								</td>
							{% endif %}

							{% for matiere in ue.matieres.all %}	
								<td>{{ matiere.code }}</a></td>
								<td>{{ matiere.titre }}</td>
								{% with module_list|get_value_from_dict:matiere.code as module %}
									{% if module %}
										<td>{{ module.moy }}</td>
										<td>{{ module.note_eliminatoire }}</td>
									{% else %}
										<td class="table-active"></td>
										<td class="table-active"></td>
									{% endif %}
								{% endwith %}
								<td>{{ matiere.coef }}</td>
								{% if formation.activation_credits %}
									<td>{{ matiere.credit }}</td>
								{% endif %}
								</tr><tr>
							{% endfor %}
						</tr>
						{% endfor %}
    	    	</tbody>
  			</table>
	
		Fait le : {{date|date:'d/m/Y'}}
	<br><br><br><br><br><br><br><br>
	
	{% endblock %}